@import '../../vendor/constants';
.addVacancy {
  display: flex;
  flex-direction: row;
  padding: 60px 152px 60px 60px;
}
.addVacancy__box {
  width: 428px;
  display: flex;
  flex-direction: column;
}
.addVacancy__image {
  width: 24px;
  height: 24px;
  margin-right: auto;
  background-repeat: no-repeat;
}
.addVacancy__button_back {
  padding: 0;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  width: 77px;
  align-self: flex-start;
  border: none;
  background: none;
  font-family: 'YS Text', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
.addVacancy__link {
  text-align: end;
  text-decoration: none;
  color: #5a5a5a;
  font-family: 'YS Text', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.NewVacancy__form {
}
.addVacancy__title {
  text-align: start;
  font-family: 'YS Display', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
}
.addVacancy__subtitle {
  text-align: start;
  font-family: 'YS Display', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
}
.addVacancy__input_title {
  margin-bottom: 4px;
  text-align: start;
  font-family: 'YS Text', Arial, sans-serif;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.addVacancy__inputs {
  margin-bottom: 16px;
}
.addVacancy__input_moneys {
  display: flex;
}
.addVacancy__input_box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 428px;
  height: 40px;
  border-radius: 4px;
}
.addVacancy__image_done {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  z-index: 2;
}
.addVacancy__skills {
  margin-top: 10px;
  display: grid;
  font-family: 'YS Text', Arial, sans-serif;
  grid-template-columns: repeat(auto-fit, minmax(auto, 114px));
  grid-template-rows: repeat(auto-fit, min(32px));
  gap: 10px 10px;
}
.addVacancy__skill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 114px;
  height: 32px;
  border-radius: 4px;
  background: #ededed;
  font-family: 'YS Text', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.addVacancy__skill_button {
  padding: 0;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background: none;
  background-image: url(../../assets/images/close_mini.svg);
  background-repeat: no-repeat;
  border: none;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
.addVacancy__wishes {
  margin-top: 36px;
  margin-bottom: 24px;
  text-align: start;
  font-family: 'YS Display', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.addVacancy__buttons {
  display: flex;
  margin-top: 36px;
}
.addVacancy__button_published {
  width: 227px;
  height: 40px;
  background-color: $clBasicButton;
  color: #fff;
  font-family: 'YS Text', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-right: auto;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
.addVacancy__button_save {
  width: 184px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid var(--Blue-Main, #1d6bf3);
  background-color: #fff;
  color: var(--Blue-Main, #1d6bf3);
  font-family: 'YS Text', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
