.addVacancy__input_select {
  padding: 0;
  margin: 0;
  width: 428px;
  height: 40px;
  border-radius: 4px;
  color: var(--Black-500, #797981);
  text-align: start;
  height: 100%;
  font-family: YS Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.input__fonts {
  height: 100%;
  font-family: YS Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
