@import '../../vendor/constants';
.list {
  list-style: none;
  padding: 60px 106px 0 60px;
  text-align: left;
  background-color: $clBasicText;
  height: 100vh;
}
.item {
  cursor: pointer;
  margin-bottom: 24px;
}
.active {
  color: #fff;
}
