@import '../../assets/styles/fonts-mixins.scss';

// .applicant {
//   padding: 60px 152px 71px 48px;
// }
.applicant {
  display: flex;
  flex-direction: row;
}
.applicant_header {
  display: flex;
  flex-direction: column;
  margin: 48px 0 0 60px;
}
.headerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 258px;
  margin-bottom: 40px;
}
.header__title {
  @include h2-regular;
  margin-bottom: 16px;
}
