@import '../../vendor/constants.scss';
@import '../../assets/styles/fonts-mixins';
.vacancy {
  max-width: 980px;
  background-color: $clBackground;
}
.vacancy__header {
  margin-top: 20px;
  display: flex;
  width: 916px;
  padding: 32px 32px 8px 32px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background-color: $clBackground;
  border: 1px solid $header;
}
.vacancy__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 12px;
}
.vacancy__header_promo {
  width: 220px;
  text-align: start;
}
.vacancy__header_title {
  color: $clBasicText;
  @include h3-medium;
  margin: 0;
}
.vacancy__header_subtitle {
  margin: 8px 0 0;
  color: $clBasicText;
  @include h3-medium;
}
.vacancy__header_icon_edit {
  margin: 0 15px 0 0;
  width: 44px;
  height: 44px;
  padding: 10px;
  border: none;
  background-color: $clBackground;
  background-image: url('../../assets/images/edit_blue.svg');
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
.vacancy__header_icon_delete {
  margin: 0;
  width: 44px;
  height: 44px;
  padding: 10px;
  border: none;
  background-color: $clBackground;
  background-image: url('../../assets/images/close_blue.svg');
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
.vacancy__header_text {
  color: $text;
  @include text-medium;
  margin: 0;
}
.vacancy__header_text:first-of-type {
  margin-bottom: 4px;
}
.vacancy__header_icon {
  width: 24px;
  height: 24px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin-right: 8px;
}
.vacancy__header_expiriencs {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px 0 0;
  padding: 0;
}
.vacancy__header_buttons {
  width: 916px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 22.5px;
}
.vacancy__header_show {
}
.vacancy__header_button_response {
  width: 177px;
  height: 40px;
  background-color: $clBackground;
  color: $clBasicClick;
  border-radius: 6px;
  margin-right: 20px;
  border: 1px solid var(--Blue-Main, $clBasicClick);
  padding: 10px 20px;
  align-items: center;
  @include button-text;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
.vacancy__header_button_condidats {
  width: 220px;
  height: 40px;
  background-color: $clBackground;
  color: $clBasicClick;
  margin-right: auto;
  border-radius: 6px;
  border: 1px solid var(--Blue-Main, $clBasicClick);
  padding: 10px 20px;
  align-items: center;
  @include button-text;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
.vacancy__header_button_close {
  width: 172px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid var(--Blue-Main, $clBasicClick);
  padding: 10px 20px;
  background-color: $clBasicClick;
  color: $clActive;
  align-items: center;
  @include button-text;
  margin: 0;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
.vacancy__border {
  margin-top: 16px;
  width: 544px;
  border-top: 1px solid $header;
}
.vacancy__info {
  margin-top: 20px;
  width: 916px; // 980px при обычном экране
  background-color: $clBackground;
  color: $clBasicText;
}
.vacancy__info_box {
  width: 916px;
  // margin: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.vacancy__info_title {
  margin: 0 0 12px 0;
  @include text-regular;
}
.vacancy__list {
  margin: 0 0 16px 0;
  text-align: start;
  @include text-medium;
}
.vacancy__list:last-child {
  margin: 0;
}
.vacancy__info_skills {
  width: 544px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 57px));
  grid-template-rows: repeat(auto-fit, minmax(19px));
  gap: 10px 5px;
  margin: 0 0 16px 0;
}
.vacancy__info_skill {
  color: #5a5a5a;
  @include button-text;
}
.vacancy__info_text {
  @include button-text;
}
.vacancy__close {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 8px;
  margin-top: 20px;
  align-self: center;
  background: none;
  border: none;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
